.container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.section, .section1, .section2, .section3, .section4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section img, .section1 img, .section2 img, .section3 img, .section4 img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

